@tailwind base;
@tailwind components;
@tailwind utilities;




.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  
}

.playwrite-cu {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 398;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 444;
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
